<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geldix Pharmaceuticals Private Limited</title>
    <meta name="description"
        content="Our objective is to provide high quality, affordable and innovative healthcare products to people across the globe. We are committed to our customers and partners and have a passion for technology and innovation.">
    <meta name="keywords"
        content="geldix, geldix pharmaceutical, geldix pharmaceuticals, geldix pharmaceuticals private limited, geldix pharama, bhim singh, seema patel">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preload" href="/stylesheets/style.css" as="style">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>

    <main>
        <%- include('header') %>

        <section id="products-section">
            <div class="heading">
                <p id="btn-heading">Products</p>
                <h1>Check our <span>Products</span></h1>
                <p>Each and every products delivered by us are fine-tuned for perfection and efficiency.</p>
            </div>
            <div id="products">
                <div id="products-controls">
                    <div id="search">
                        <form id="searchform" action="">
                            <input type="text" placeholder="Search Products">
                            <button><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                    <div id="filters">
                        <a href="#">Tablets</a>
                        <a href="#">Capsules</a>
                        <a href="#">Syrups</a>
                        <a href="#">Injectables</a>
                        <a href="#">Ointments</a>
                        <a href="#">Tablets</a>
                        <a href="#">Capsules</a>
                        <a href="#">Syrups</a>
                        <a href="#">Injectables</a>
                        <a href="#">Ointments</a>
                        <a href="#">Tablets</a>
                        <a href="#">Capsules</a>
                        <a href="#">Syrups</a>
                        <a href="#">Injectables</a>
                        <a href="#">Ointments</a>
                    </div>
                </div>
                <div id="products-list">
                    <% products.map(product => { %>
                    <div class="product">
                        <a href="/product/<%= product._id %>">
                            <div id="product-image">
                                <img src="<%= product.image %>" alt="<%= product.name %>">
                            </div>
                            <h4 id="product-name">
                                <%= product.name %>
                            </h4>
                            <p id="discounted-price">
                                <%= product.description %>
                            </p>
                        </a>
                    </div>
                    <% }); %>
                </div>
            </div>
        </section>

        <%- include('footer') %>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>